extends dashboard

block headscript
	link(rel='stylesheet',href='./lib/fullcalendar.min.css')
body
	block dashboardData
		.calender-view-wrap(ng-app="taskApp",ng-controller="formController",id="calenderView")
			.modal#modal1
				.modal-content
					include taskform
				.modal-footer
			.modal#modal2
				.model-content
					include updatetaskform
				.model-footer
			.addnewtask.btn.waves-effect.waves-ligh(ng-click="newForm()") Add New
			div(id='calendar')
			script(src="./javascripts/moment.min.js")
			script(src="./lib/fullcalendar.min.js")
			script(src="./javascripts/custom.js")