extends layout

body
	block content
		div(class="row")
			div(class="col s3",id="side-nav")
				div(class="side-navWrap")
					div(class="side-nav-list")
						h5 Welcome #{user.name}
						ul
							li: a(href="/getTab") Add/Update Task
							if(user.adminUser)
								li: a(href="/adminReport") Complete Report
								li: a(href="/myReport") My Task History
							else
								li: a(href="/myReport") My Task History
			div(class="col s9")
				block dashboardData
