extends layout

body
	block content
		div(class="row")
			div(class="col s3",id="side-nav")
				div(class="side-navWrap")
					div(class="side-nav-list")
						h5 Welcome #{user.name}
						ul
							li: a About
							if(user.adminUser)
								li: a(href="/adminReport") Report
							else
								li: a my Report
			div(class="col s9")
				block dashboardData
