extends dashboard

body(ng-app="reportApp")
	block dashboardData
		div(ng-controller="reportCtrl")
			.row
				input(type="text",ng-model="search",placeholder="Search with any Keyword",class="col s8")
				a(class="waves-effect waves-light btn col s4") Advance Search
			include filterForm
			table(class="responsive-table")
				thead
					tr
						th Date
						th Task Type
						th Sub id
						th Firm Name
						th Firm URL
						th Process
						th Activity
						th Notes
						th Reason
						th Days
						th Mins
						th EFG
				tbody
					tr(ng-repeat="task in reportData|orderBy:'-date'|filter:search")
						td {{task.date}}
						td {{task.tasktype}}
						td {{task.subid}}
						td {{task.fname}}
						td: a(href="{{task.furl}}",target="_blank") {{task.furl}}
						td {{task.process}}
						td {{task.activity}}
						td {{task.notes}}
						td {{task.reason}}
						td {{task.days}}
						td {{task.mins}}
						td {{task.efg}}
		script(type="text/javascript",src="http://code.angularjs.org/1.0.1/angular-resource-1.0.1.js")
		script(src="./javascripts/report.js")