form(class="col s12 addnewform",method="post",ng-submit="submit_task()")
	.input-field.col.s12
		input(id="subid",type="text",class="validate",required,name="subid",ng-model="formData.subid")
		label(for="subid") SubID
	.input-field.col.s12
		select(id="tasktype",name="tasktype",ng-model="formData.tasktype")
			option(value="" disabled selected) Select the Task Type
			option(value="ticket") Ticket
			option(value="email") Email
	.input-field.col.s12
		select(id="process",name="process",ng-model="formData.process")
			option(value="" disabled selected) Select the Process
			option(value="Post Initial Fulfillment Process") Post Initial Fulfillment Process
			option(value="Initial Fulfillment Process") Initial Fulfillment Process
			option(value="Product Rework") Product Rework
			option(value="Defect Tracker") Defect Tracker
			option(value="Defect Tracker Capability Process") Defect Tracker Capability Process
			option(value="Rework capability Process") Rework capability Process
			option(value="Firmsite Refresh Fulfulliment") Firmsite Refresh Fulfulliment
	.input-field.col.s12 
		select(id="activity",name="activity",ng-model="formData.activity")
			option(value="" disabled selected) Select the Activity
			option(value="Complete Development Work") Complete Development Work	
			option(value="Complete Development Rework") Complete Development Rework
			option(value="Complete Development") Complete Development 
			option(value="Complete Development FED") Complete Development FED
			option(value="Resolve QA Preview Defect Development") Resolve QA Preview Defect Development
			option(value="Publish Landing Page") Publish Landing Page
			option(value="Complete FED Rework") Complete FED Rework
			option(value="Resolve Defects - Development") Resolve Defects - Development
			option(value="Resolve QA Live Defects") Resolve QA Live Defects
	.input-field.col.s12 
		select(id="reason",name="reason",ng-model="formData.reason")
			option(value="" disabled selected) Reason
			option(value="FS3/FS4/SA + PPC") FS3/FS4/SA + PPC
			option(value="FS3/FS4/SA + PPC + Blog") FS3/FS4/SA + PPC + Blog
			option(value="PPC") PPC
			option(value="PPC V3") PPC V3
			option(value="FS3/FS4/SA + Blog") FS3/FS4/SA + Blog
			option(value="Lengthy Rework") Lengthy Rework
			option(value="Blog") Blog
			option(value="Carryover") Carryover
			option(value="Complete Design Change") Complete Design Change
			option(value="Multiple Request") Multiple Request
			option(value="Backup Developer") Backup Developer
			option(value="Standalone Blog") Standalone Blog
			option(value="Training") Training
			option(value="No Ticket - New Site Development") No Ticket - New Site Development
			option(value="Other tasks") Other tasks
		
	.input-field.col.s12p
		input(id="taskdate",type="date",class="validate",required,name="taskdate")
	.input-field.col.s12
		input(id="firmurl",type="url",class="validate",required,name="firmurl",ng-model="formData.furl")
		label(for="firmurl") Firm URL
	.input-field.col.s12
		input(id="firmname",type="text",class="validate",required,name="firmname",ng-model="formData.fname")
		label(for="firmname") Firm Name
	.input-field.col.s12
		input(id="days",type="number",class="validate",required,name="days",value=0,ng-model="formData.days")
		label(for="mins") days
	.input-field.col.s12
		input(id="mins",type="number",class="validate",required,name="mins",ng-model="formData.mins")
		label(for="mins") mins
	.input-field.col.s12
		input(id="notes",type="textarea",class="validate textcls",required,name="notes",length="120",ng-model="formData.notes")
	input(type="submit",class="btn waves-effect waves-light",value="Submit")